<body class="LP">
    <section class="lpSec">
    <div class="Main">
    <h1>Objectives</h1>
    <h2>Chase your dreams, <br>
     the right way</h2>
     <button class="cta" href="/auth/register"><h3>Get Started</h3></button>
     </div>
     <div class="lpImg"> 
        <img src="images/LP-hero.png" class="lpimg1">
     </div>
    </section>
     </body>

     <section class="LP2">
        <section class="lpSec2">
     <div class="lpImg2">
        <img src="images/LP-section.png"  class="lpimg2">
     </div>
        <article class="sec1">
            <h1>We Believe </h1>
            <h2>that every dream is
            achievable by setting many smaller <br>
            goals along the way.</h2>
        </article>
        </section>
     </section>
